html, body {
    margin: 0;
    padding: 0;
}

body > div#content {
    width: 1200px;
    margin: auto;
}

paper-toolbar > div#topBar > span {
    font-size: 30px;
}

paper-card {
    width: 100%;
}

paper-card .card-content, paper-card div.header, paper-button#submit-button {
    margin: 20px;
}

paper-card#user-details-1 {
    margin-top: 20px;
}

div#center {
    text-align: center;
}

div#center > * {
    text-align: left;
}

hr.horizontal-rule {
    border-top: 1px solid #8c8b8b;
}

paper-input#age-input {
    width: 180px;
}

paper-scroll-header-panel {
    height: 100%;
}

paper-button#submit-button {
    --paper-button: {
        @apply(--layout-center-center);
    }
}

/* --------------------------------------------------------------- */
/* These elements should have difference of 6 px in width */
/* --------------------------------------------------------------- */

paper-input#age-input, 
paper-dropdown-menu#nationality-dropdown,
paper-dropdown-menu#education-dropdown,
paper-dropdown-menu#employment-status-dropdown,
paper-input#degree-title {
    margin-top: 8px;
    width: 300px;
}

paper-dropdown-menu#nationality-dropdown paper-listbox,
paper-dropdown-menu#education-dropdown paper-listbox,
paper-dropdown-menu#employment-status-dropdown paper-listbox {
    overflow-x: hidden;
    width: 294px;
}

/* --------------------------------------------------------------- */


paper-dropdown-menu#nationality-dropdown paper-listbox {
    height: 400px;
}

iron-label[for="age-input"], iron-label[for="nationality-dropdown"],
iron-label[for="occupation"], iron-label#gender-label {
    font-size: 22px;
}

paper-button.green {
    background-color: var(--paper-green-500);
}

iron-label#gender-label, paper-radio-group#gender-radio-group {
    position: relative;
    top: -30px;
}

iron-label[for="age-input"], paper-input#age-input {
    position: relative;
    top: -80px;
}

iron-label[for="nationality-dropdown"], paper-dropdown-menu#nationality-dropdown {
    position: relative;
    top: -60px;
}

iron-label[for="occupation"], div#occupation {
    position: relative;
    top: -40px;
}

iron-label[for="education-dropdown"], paper-dropdown-menu#education-dropdown {
    position: relative;
    top: 10px;
}

iron-label[for="degree-title"], paper-input#degree-title {
    position: relative;
    top: 20px
}

iron-label[for="employment-status-dropdown"], paper-dropdown-menu#employment-status-dropdown {
    position: relative;
    top: 30px;
}

div.index.clearfix {
    height: -30px;
}

p#gender-error {
    position: relative;
    top: -50px;
    color: #dd2c00;
    font-size: 12px;
    font-family: 'Roboto', 'Noto', sans-serif;
}
