html, body {
    margin: 0;
    padding: 0;
}

body > div#content {
    width: 1200px;
    margin: auto;
}

paper-toolbar > div#topBar > span {
    font-size: 30px;
}

paper-card {
    width: 100%;
}

paper-card#user-details-1 {
    margin-top: 20px;
}

div#center {
    text-align: center;
}

div#center > * {
    text-align: left;
}

hr.horizontal-rule {
    border-top: 1px solid #8c8b8b;
}

paper-input#age-input {
    width: 180px;
}

div#occupation {
    margin-top: 10px;
}
paper-scroll-header-panel {
    height: 100%;
}